nav {
  position: fixed !important;
  z-index: 9999;
  padding: 0 !important;
  transition: all 0.3s;
  margin-top: 30px; }
  nav .mynav {
    width: 1200px;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    nav .mynav ul.navbar-nav .dropdown-menu {
      display: block;
      visibility: hidden;
      opacity: 0;
      padding: 0;
      border-top: 2px solid #292929;
      margin-top: -1px;
      border-radius: 0;
      margin-top: 20px;
      transition: all 0.4s; }
      nav .mynav ul.navbar-nav .dropdown-menu .dropdown-divider {
        margin: 0; }
      nav .mynav ul.navbar-nav .dropdown-menu .dropdown-inner {
        position: relative; }
      nav .mynav ul.navbar-nav .dropdown-menu .dropdown-item {
        font-family: "Changa", sans-serif;
        width: 240px;
        padding: 12px 15px;
        transition: all 0.5s; }
        nav .mynav ul.navbar-nav .dropdown-menu .dropdown-item:hover {
          background: #292929;
          color: #fff; }
      nav .mynav ul.navbar-nav .dropdown-menu .mydropdown-toggle-inner::after {
        content: "\f105";
        transition: all 0.5s;
        font-family: 'FontAwesome';
        position: absolute;
        right: 10px;
        bottom: 14px;
        font-size: 15px;
        margin-top: 1px; }
      nav .mynav ul.navbar-nav .dropdown-menu .dropdown-menu-inner {
        top: 0px;
        left: 240px; }
    nav .mynav ul.navbar-nav .nav-link {
      padding-top: 34px !important;
      padding-bottom: 34px !important;
      font-family: "Poppins", sans-serif;
      color: #ffffff !important;
      font-weight: 500;
      font-size: 15px; }
    nav .mynav ul.navbar-nav .mydropdown-toggle::after {
      font-family: 'FontAwesome';
      content: "\f107";
      position: absolute;
      right: 0px;
      top: 35px;
      font-size: 14px;
      margin-top: 1px;
      width: 5px;
      padding-left: 4px; }
    nav .mynav ul.navbar-nav .nav-item {
      margin: 0 19px; }
    nav .mynav .form-container {
      background: #ffffff;
      display: none;
      position: absolute;
      top: 91px;
      right: 90px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      border-top: 3px solid green !important; }
      nav .mynav .form-container .input-group {
        padding: 25px 20px;
        width: 100%; }
        nav .mynav .form-container .input-group button {
          background: #ffffff;
          border: 1px solid #ced4da;
          border-left: none;
          border-radius: 0;
          color: #202020;
          padding: 10px; }
          nav .mynav .form-container .input-group button:hover {
            background: #ffffff;
            color: green;
            border: 1px solid #ced4da;
            border-left: none; }
        nav .mynav .form-container .input-group input {
          padding: 7px 15px;
          width: 240px; }
    nav .mynav .search-icon {
      padding-left: 4px;
      color: #ffffff;
      margin-left: 10px;
      font-size: 15px;
      transition: all 0.3s; }
      nav .mynav .search-icon:hover {
        color: green;
        cursor: pointer; }
    nav .mynav .dropdown:hover > .dropdown-menu {
      transition: all 0.3s;
      margin-top: 0;
      visibility: visible;
      opacity: 1; }

@media screen and (max-width: 1140px) {
  .nav-item {
    margin-right: 0px !important;
    margin-left: 20px !important; }

  .search-icon {
    display: none; }

  nav ul li:last-child a {
    padding-right: 0px !important; } }
@media screen and (max-width: 1025px) {
  .mydropdown-toggle::after {
    display: none; }

  .nav-link {
    padding-left: 0px !important;
    padding-right: 0px !important; } }
@media screen and (max-width: 768px) {
  .navbar-toggler {
    margin: 25px 0;
    padding: 4px 8px;
    background: #2fc42b;
    color: white; } }
#navbar {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/image-1.jpg);
  width: 100%;
  height: 800px; }

#seo {
  position: relative;
  padding: 140px 0px 110px;
  text-align: center; }
  #seo .text-seo {
    font-size: 30px;
    line-height: 1.4em;
    color: #222222;
    margin-bottom: 25px;
    font-weight: 700; }
  #seo .text {
    font-size: 15px;
    line-height: 25px;
    color: #aaaaaa;
    font-family: "Changa", sans-serif;
    font-weight: 300;
    max-width: 940px;
    margin: 0 auto 60px; }
  #seo .form {
    position: relative;
    max-width: 1000px;
    margin: 0 auto 20px; }
    #seo .form .form-group {
      margin-bottom: 15px; }
      #seo .form .form-group .form-control {
        color: #aaaaaa;
        font-size: 14px;
        font-weight: 300;
        font-family: "Changa", sans-serif;
        border-radius: 5px;
        border: 1px solid transparent;
        background-color: #edf7ff;
        transition: all 0.3s ease;
        position: relative;
        display: block;
        width: 100%;
        line-height: 30px;
        padding: 14px 30px;
        height: 60px; }
        #seo .form .form-group .form-control:focus {
          border: 1px solid #2fc42b !important;
          transition: all 0.3s ease;
          box-shadow: none; }
    #seo .form .form-group {
      line-height: 26px;
      display: block;
      width: 100%; }
      #seo .form .form-group .button-form {
        position: relative;
        letter-spacing: 1px;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 5px;
        padding: 15px 65px;
        line-height: 24px;
        background: #2f3340;
        color: #ffffff;
        border: 2px solid #2f3340;
        font-size: 15px;
        font-weight: 700; }
        #seo .form .form-group .button-form:hover {
          cursor: pointer;
          background-color: #2fc42b;
          border: none; }

#california {
  position: relative;
  padding: 135px 0px 110px;
  background-color: #edf7ff; }
  #california .california-title {
    margin-bottom: 60px;
    text-align: center !important;
    position: relative; }
    #california .california-title .cal-text {
      position: relative;
      color: #222222;
      font-size: 35px;
      font-weight: 700;
      line-height: 33px;
      margin-bottom: 33px;
      font-family: "Ubuntu", sans-serif; }
    #california .california-title span {
      color: #2fc42b;
      position: relative;
      font-size: 35px;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 16px !important;
      font-family: "Ubuntu", sans-serif; }
  #california .services-block {
    padding-left: 33px;
    padding-right: 33px;
    position: relative;
    margin-bottom: 40px; }
  #california .inner-box {
    position: relative;
    display: block;
    text-align: center;
    padding: 22px 30px;
    background-color: #ffffff; }
    #california .inner-box img {
      display: inline-block;
      max-width: 100%;
      height: auto;
      vertical-align: middle; }
    #california .inner-box .res {
      position: relative;
      font-size: 20px;
      font-weight: 500;
      line-height: 25px;
      color: #333333 !important;
      margin-bottom: 20px;
      text-decoration: none !important;
      transition: all 0.3s ease; }
      #california .inner-box .res:hover {
        color: #2fc42b !important; }
    #california .inner-box .read-more {
      background: transparent;
      text-decoration: none !important;
      color: #888888;
      font-size: 15px;
      line-height: 25px;
      font-weight: 300; }
      #california .inner-box .read-more:hover {
        color: #2fc42b; }
      #california .inner-box .read-more .fa {
        margin-left: 8px; }
        #california .inner-box .read-more .fa:hover {
          color: #2fc42b; }

#fact {
  position: relative;
  background-position: top center;
  background-size: cover;
  padding: 100px 0px 70px 0px;
  background-color: #3d4a66;
  background-repeat: repeat-x;
  background-image: url("../img/1.png"); }
  #fact .facts {
    position: relative; }
    #fact .facts .fact-rim {
      position: relative;
      z-index: 5;
      padding: 0 2px;
      margin-bottom: 30px; }
      #fact .facts .fact-rim .inner {
        position: relative;
        text-align: center;
        background-color: #333743;
        padding: 80px 15px 70px;
        transition: all 0.5 ease; }
        #fact .facts .fact-rim .inner .count .pt1 {
          color: #f84685;
          position: relative;
          display: block;
          font-size: 70px;
          line-height: 1em;
          margin-bottom: 20px; }
        #fact .facts .fact-rim .inner .count .pt2 {
          color: #2fc42b;
          position: relative;
          display: block;
          font-size: 70px;
          line-height: 1em;
          margin-bottom: 20px; }
        #fact .facts .fact-rim .inner .count .pt3 {
          color: #f1e651;
          position: relative;
          display: block;
          font-size: 70px;
          line-height: 1em;
          margin-bottom: 20px; }
        #fact .facts .fact-rim .inner .count .pt4 {
          color: orange;
          position: relative;
          display: block;
          font-size: 70px;
          line-height: 1em;
          margin-bottom: 20px; }
        #fact .facts .fact-rim .inner .count .count-title {
          position: relative;
          font-size: 20px;
          font-weight: 500;
          color: #edf7ff;
          display: block;
          margin-bottom: 5px; }
        #fact .facts .fact-rim .inner .count .timer {
          position: relative;
          font-weight: 700;
          color: #edf7ff;
          font-size: 50px;
          display: block;
          line-height: 1em; }

#business {
  position: relative;
  padding: 120px 0px 80px; }
  #business .image-business {
    position: relative;
    padding: 0; }
    #business .image-business .imager {
      position: relative;
      margin-bottom: 40px; }
  #business .text-business {
    position: relative;
    padding-left: 75px; }
    #business .text-business .inner-text {
      position: relative; }
      #business .text-business .inner-text .title-business {
        position: relative;
        margin-bottom: 20px; }
        #business .text-business .inner-text .title-business .leverage {
          position: relative;
          color: #222222;
          font-size: 35px;
          font-weight: 700;
          line-height: 43px;
          margin-bottom: 26px; }
          #business .text-business .inner-text .title-business .leverage .grow {
            color: #2fc42b; }
    #business .text-business .p-text {
      position: relative;
      color: #333333;
      font-size: 18px;
      font-weight: 300;
      line-height: 25px;
      margin-bottom: 30px;
      font-family: "Changa", sans-serif; }
    #business .text-business .list-unstyled {
      position: relative; }
      #business .text-business .list-unstyled li {
        position: relative;
        padding-left: 15px;
        font-size: 15px;
        color: #aaaaaa;
        margin-bottom: 25px;
        font-weight: 300;
        font-family: "Changa", sans-serif; }
        #business .text-business .list-unstyled li::before {
          position: absolute;
          content: '\f0da';
          left: 0px;
          top: 0px;
          color: #2fc42b;
          font-size: 15px;
          font-family: "FontAwesome"; }

#gallery {
  position: relative;
  padding: 150px 0 110px;
  background-color: #edf7ff; }
  #gallery .gallery-title {
    position: relative;
    margin-bottom: 70px;
    text-align: center; }
    #gallery .gallery-title .gal-text {
      position: relative;
      color: #222222;
      font-size: 35px;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 26px; }
      #gallery .gallery-title .gal-text .case {
        color: #2fc42b; }
  #gallery .item {
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 30px; }
    #gallery .item .image-box {
      position: relative; }
      #gallery .item .image-box img {
        width: 100%; }
    #gallery .item .overlay:before {
      background: rgba(0, 0, 0, 0.7) content-box;
      content: "";
      height: 100%;
      width: 0;
      opacity: 0;
      padding: 15px;
      position: absolute;
      left: 50%;
      top: 0;
      border-radius: 20px;
      transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
      transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); }
    #gallery .item:hover .overlay:before {
      opacity: 0.8;
      width: 100%;
      left: 0; }
    #gallery .item .overlay-inner {
      z-index: 10;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 14px 18px;
      text-align: center;
      width: 100%; }
      #gallery .item .overlay-inner .content a {
        color: #222222;
        display: inline-block;
        font-size: 20px;
        height: 50px;
        width: 50px;
        background-color: #ffffff;
        line-height: 30px;
        padding: 10px;
        margin: 0 5px;
        text-align: center;
        border-radius: 50%;
        transform: translateY(50px);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    #gallery .item:hover .overlay-inner .content a {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition-delay: 0.5s; }
    #gallery .item:hover .overlay-inner .content a:last-child {
      transition-delay: 0.8s; }
    #gallery .item .overlay-inner .content > a:hover span {
      color: #2fc42b;
      transition: all 0.3s ease; }

#services {
  position: relative;
  padding: 140px 0px 100px; }
  #services .services-title {
    margin-bottom: 50px;
    position: relative;
    text-align: center; }
    #services .services-title .services-h {
      position: relative;
      color: #222222;
      font-size: 35px;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 26px; }
      #services .services-title .services-h .serv {
        color: #2fc42b; }
    #services .services-title .services-text {
      position: relative;
      font-size: 15px;
      line-height: 25px;
      color: #aaaaaa;
      font-family: 'Changa', sans-serif;
      font-weight: 300;
      max-width: 940px;
      margin: 0 auto; }
  #services .box-service {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    margin-bottom: 40px; }
    #services .box-service .inner-service {
      position: relative;
      display: block;
      padding: 30px 35px; }
      #services .box-service .inner-service:hover {
        box-shadow: 0 35px 34px rgba(233, 233, 233, 0.75); }
      #services .box-service .inner-service .content-service {
        position: relative;
        padding-left: 100px; }
        #services .box-service .inner-service .content-service .icon-service {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 80px;
          height: 80px; }
          #services .box-service .inner-service .content-service .icon-service .icon img {
            display: inline-block;
            max-width: 100%;
            height: auto; }
        #services .box-service .inner-service .content-service .free {
          position: relative;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 5px; }
          #services .box-service .inner-service .content-service .free .rer {
            position: relative;
            color: #333333;
            text-decoration: none; }
            #services .box-service .inner-service .content-service .free .rer:hover {
              color: #2fc42b; }
        #services .box-service .inner-service .content-service .free-text {
          position: relative;
          font-size: 15px;
          line-height: 25px;
          color: #aaaaaa;
          font-family: "Changa", sans-serif;
          font-weight: 300; }

#people {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f3340;
  padding: 140px 0 130px;
  background-image: url(../img/99.jpg); }

#card {
  position: relative;
  padding: 130px 0px 110px; }
  #card .card-title {
    margin-bottom: 70px;
    text-align: center;
    position: relative; }
    #card .card-title .card-text {
      position: relative;
      color: #222222;
      font-size: 35px;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 26px; }
      #card .card-title .card-text .card-score {
        color: #2fc42b; }
  #card .card-box {
    position: relative;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 40px; }
    #card .card-box .card-in {
      position: relative;
      overflow: hidden;
      background-color: #f8f8f8; }
      #card .card-box .card-in .card-start {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px 20px 30px;
        text-align: center;
        background: #000;
        color: #ffffff; }
        #card .card-box .card-in .card-start .basic {
          position: relative;
          font-size: 30px;
          color: #2fc42b;
          font-weight: 700;
          font-family: "Ubuntu", sans-serif; }
        #card .card-box .card-in .card-start .price {
          position: relative;
          font-size: 65px;
          color: #ffffff;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 1em;
          font-family: "Ubuntu", sans-serif; }
          #card .card-box .card-in .card-start .price .dollar {
            font-size: 40px; }
      #card .card-box .card-in .card-center {
        position: relative;
        padding: 30px 15px 10px;
        text-align: center;
        text-transform: capitalize; }
        #card .card-box .card-in .card-center .card-menu .card-li {
          position: relative;
          font-size: 15px;
          line-height: 30px;
          color: #777777;
          font-family: "Changa", sans-serif;
          font-weight: 300;
          margin-bottom: 15px; }
      #card .card-box .card-in .card-end {
        position: relative;
        text-align: center;
        padding-bottom: 55px; }
        #card .card-box .card-in .card-end .card-button {
          padding: 10px 45px;
          z-index: 1;
          line-height: 30px;
          text-transform: uppercase;
          color: #aaaaaa;
          border: 2px solid #aaaaaa;
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 1px;
          z-index: 999;
          font-family: 'Ubuntu', sans-serif;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px;
          text-decoration: none;
          cursor: pointer; }
          #card .card-box .card-in .card-end .card-button:hover {
            background-color: #2f3340;
            border-color: #2f3340; }

#carousel {
  position: relative;
  background-color: #232732;
  max-height: 100%; }
  #carousel .item {
    border-left: 1px solid #2d3241; }

#check {
  position: relative;
  padding: 140px 0px 110px;
  background-color: #edf7ff; }
  #check .check-title {
    margin-bottom: 60px;
    text-align: center; }
    #check .check-title .check-text {
      position: relative;
      color: #222222;
      font-size: 35px;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 26px; }
      #check .check-title .check-text .check-inside {
        color: #2fc42b; }
  #check .check-card {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    margin-bottom: 40px; }
    #check .check-card .check-in {
      position: relative;
      display: block; }
      #check .check-card .check-in .check-start {
        position: relative; }
        #check .check-card .check-in .check-start a {
          text-decoration: none;
          cursor: pointer;
          color: #2fc42b; }
          #check .check-card .check-in .check-start a img {
            position: relative;
            width: 100%;
            display: block; }
      #check .check-card .check-in .check-end-left {
        position: relative;
        padding: 40px 34px 40px 105px;
        background-color: #ffffff; }
        #check .check-card .check-in .check-end-left .data {
          position: absolute;
          max-width: 35px;
          left: 35px;
          top: 40px;
          text-align: center; }
          #check .check-card .check-in .check-end-left .data .day {
            font-size: 30px;
            line-height: 40px;
            font-weight: 300;
            font-family: "Ubuntu", sans-serif;
            color: #2fc42b;
            display: block; }
          #check .check-card .check-in .check-end-left .data .year {
            position: relative;
            display: inline-block;
            font-size: 15px;
            line-height: 17px;
            color: #aaaaaa;
            font-weight: 500;
            font-family: "Ubuntu", sans-serif; }
      #check .check-card .check-in .check-end-right .marktol {
        position: relative;
        display: block; }
        #check .check-card .check-in .check-end-right .marktol .list {
          float: left;
          margin-right: 4px;
          line-height: 22px;
          font-size: 12px;
          color: #aaaaaa;
          font-weight: 300;
          font-family: "Ubuntu", sans-serif; }
      #check .check-card .check-in .check-end-right .check-text-right {
        position: relative;
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
        margin-bottom: 10px !important; }
        #check .check-card .check-in .check-end-right .check-text-right a {
          position: relative;
          color: #333333;
          cursor: pointer;
          text-decoration: none; }
          #check .check-card .check-in .check-end-right .check-text-right a:hover {
            color: #2fc42b;
            transition: all 0.6s ease; }

#sakai {
  background-color: #252934;
  background-image: url(../img/pattern.png); }
  #sakai .footer-left {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    padding: 85px 0px 60px; }
    #sakai .footer-left .footer-left-1 .footer-one {
      margin-bottom: 40px; }
      #sakai .footer-left .footer-left-1 .footer-one .logo {
        margin-bottom: 25px; }
        #sakai .footer-left .footer-left-1 .footer-one .logo .logo-a {
          text-decoration: none;
          cursor: pointer;
          color: #2fc42b; }
      #sakai .footer-left .footer-left-1 .footer-one .footer-one-text {
        position: relative;
        color: #bfbfbf;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 15px;
        font-family: "Changa", sans-serif; }
      #sakai .footer-left .footer-left-1 .footer-one .contact {
        position: relative; }
        #sakai .footer-left .footer-left-1 .footer-one .contact .info {
          font-size: 15px;
          line-height: 32px;
          color: #ffffff;
          font-weight: 500;
          font-family: "Ubuntu", sans-serif; }
    #sakai .footer-left .footer-left-2 {
      margin-bottom: 40px;
      position: relative; }
      #sakai .footer-left .footer-left-2 .footer-two {
        padding-top: 15px; }
        #sakai .footer-left .footer-left-2 .footer-two .footer-two-text {
          position: relative;
          color: #ffffff;
          font-size: 17px;
          font-weight: 700;
          margin-bottom: 30px;
          text-transform: uppercase; }
        #sakai .footer-left .footer-left-2 .footer-two .footer-two-content .list-two {
          position: relative;
          list-style: none; }
          #sakai .footer-left .footer-left-2 .footer-two .footer-two-content .list-two a {
            position: relative;
            font-size: 15px;
            line-height: 32px;
            color: #bfbfbf;
            font-weight: 400;
            transition: all 0.3s ease;
            cursor: pointer;
            text-decoration: none; }
            #sakai .footer-left .footer-left-2 .footer-two .footer-two-content .list-two a:hover {
              color: #2fc42b; }
  #sakai .footer-right .footer-right-1 {
    margin-bottom: 40px; }
    #sakai .footer-right .footer-right-1 .footer-two {
      padding-top: 15px; }
      #sakai .footer-right .footer-right-1 .footer-two .footer-two-text {
        position: relative;
        color: #ffffff;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: uppercase; }
      #sakai .footer-right .footer-right-1 .footer-two .footer-two-content .list-two a {
        position: relative;
        font-size: 15px;
        line-height: 32px;
        color: #bfbfbf;
        font-weight: 400;
        transition: all 0.3s ease;
        cursor: pointer;
        text-decoration: none; }
        #sakai .footer-right .footer-right-1 .footer-two .footer-two-content .list-two a:hover {
          color: #2fc42b; }
  #sakai .footer-right .footer-right-2 {
    margin-bottom: 40px; }
    #sakai .footer-right .footer-right-2 .footer-two-2 {
      padding-top: 15px; }
      #sakai .footer-right .footer-right-2 .footer-two-2 .footer-two-2-text {
        color: #ffffff;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: uppercase; }
      #sakai .footer-right .footer-right-2 .footer-two-2 .send-form {
        display: block;
        margin-bottom: 35px; }
        #sakai .footer-right .footer-right-2 .footer-two-2 .send-form form .form-group-footer {
          display: block;
          margin-bottom: 0px; }
          #sakai .footer-right .footer-right-2 .footer-two-2 .send-form form .form-group-footer .input-footer {
            position: relative;
            display: block;
            width: 100%;
            line-height: 30px;
            padding: 7px 20px;
            padding-right: 115px;
            height: 44px;
            font-size: 15px;
            color: #61646a;
            background-color: #282d38;
            border: 1px solid transparent;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease; }
          #sakai .footer-right .footer-right-2 .footer-two-2 .send-form form .form-group-footer .btn-footer {
            padding: 7px 32px;
            line-height: 26px;
            text-transform: uppercase;
            background: #2fc42b;
            color: #ffffff;
            font-size: 15px;
            font-weight: 700;
            position: absolute;
            border: 2px solid #2fc42b;
            font-family: 'Ubuntu', sans-serif;
            right: 0;
            top: 0;
            display: inline-block; }
      #sakai .footer-right .footer-right-2 .footer-two-2 .social .social-list .social-a {
        position: relative;
        width: 30px;
        height: 30px;
        font-size: 14px;
        color: #4b515f;
        line-height: 30px;
        text-align: center;
        display: inline-block;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        #sakai .footer-right .footer-right-2 .footer-two-2 .social .social-list .social-a .fa {
          display: inline-block;
          font-family: 'FontAwesome';
          font-size: inherit;
          cursor: pointer; }
          #sakai .footer-right .footer-right-2 .footer-two-2 .social .social-list .social-a .fa:hover {
            color: #2fc42b; }

#end {
  text-align: center;
  background-color: #1c1f27;
  padding: 25px 0; }
  #end .end-text {
    position: relative;
    color: #aaaaaa;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 25px; }

/*# sourceMappingURL=style.css.map */
