$font-ubuntu:'Ubuntu', sans-serif; 
$font-poppins:'Poppins', sans-serif;
$font-changa:'Changa', sans-serif;
$link-color: #ffffff;

nav{
    position: fixed !important;
    z-index: 1;
    padding:0 !important;
    transition: all 0.3s;
    margin-top: 30px;
    // overflow: hidden;
    .mynav{
        width: 1200px;
        padding:0 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        ul.navbar-nav{ 
        // width: 100%;
        .dropdown-menu{
            display: block;
            visibility: hidden;
            opacity: 0;
            padding:0;
            border-top:2px solid #292929;
            margin-top:-1px;
            border-radius: 0;
            margin-top: 20px;
            transition: all 0.4s;   
            .dropdown-divider{
                margin: 0;
            }
            .dropdown-inner{
                position: relative;
            }
            .dropdown-item{
                    font-family: $font-changa;
                    width: 240px;
                    padding:12px 15px;
                    transition: all 0.5s;
                    &:hover{
                        background: #292929;
                        color:#fff;
                    }
                }
                .mydropdown-toggle-inner{
                    &::after{
                    content: "\f105";
                    transition: all 0.5s;
                    font-family: 'FontAwesome';
                    position: absolute;
                    right: 10px;
                    bottom:14px;
                    font-size: 15px;
                    margin-top: 1px; 
                    }
                }
                .dropdown-menu-inner{
                 top:0px;
                 left: 240px;
                }
            
             }
        .nav-link{
            padding-top:34px !important;
            padding-bottom:34px !important; 
            font-family: $font-poppins;
            color:$link-color !important;
            font-weight: 500;
            font-size: 15px;
         
        }
            .mydropdown-toggle::after{
                font-family: 'FontAwesome';
                content: "\f107";
                position: absolute;
                right:0px;
                top:35px;
                font-size: 14px;
                margin-top: 1px;  
                width: 5px; 
                padding-left: 4px;           

            }
        .nav-item{
            margin:0 19px;
        }
    }
    .form-container{
        background: #ffffff;        
        display:none;
        position: absolute;
        top: 91px;
        right: 90px;
        border: 1px solid rgba(0,0,0,.15);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        border-top: 3px solid green !important;        
        .input-group{
            button{
                background: #ffffff;
                border: 1px solid #ced4da;  
                border-left: none;
                border-radius: 0;   
                color:rgb(32, 32, 32);
                padding: 10px;
                &:hover{
                    background: #ffffff;
                    color: green;
                    border: 1px solid #ced4da; 
                    border-left: none;
                       
                                         
                }
            }
        padding: 25px 20px;
        width: 100%;
        input{
            padding:7px 15px;
            width: 240px;
        }
    }
   
    }
    
   .search-icon{
        padding-left: 4px;
        color: $link-color;
        margin-left: 10px;
        font-size: 15px;
        transition: all 0.3s;
    
        &:hover{
            color:green;
            cursor: pointer;
        }
    }

.dropdown:hover>.dropdown-menu {  
        transition: all 0.3s;
        margin-top: 0; 
        visibility:visible;
        opacity: 1; 
}  
    }
     

}
@media screen and (max-width:1140px){
    // nav{
    //     margin-top: 0px;
    //     background: #343a40;
    // }
    .nav-item{
        margin-right: 0px !important;
        margin-left: 20px !important;       
    }
    .search-icon{
        display: none;
    }
    nav ul li:last-child a{
        padding-right: 0px !important;
    }
    
}
@media screen and (max-width:1025px){
    .mydropdown-toggle::after{
        display: none;  
    }
    .nav-link{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }}
    @media screen and (max-width:768px){
        .navbar-toggler{
            margin:25px 0;
            padding: 4px 8px;
            background: #2fc42b;
            color: white;
        }
    }
    
header{
    position: relative;
    top: 0;
    left: 0;
    background-image: url(../img/image-1.jpg);
    width: 100%;
    height: 800px;
}
// .overlay{
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: rgba(128, 128, 128, 0.404);
// }

#seo{
    position: relative;
    padding: 140px 0px 110px;
    text-align: center;
    .text-seo{
    font-size: 30px;
    line-height: 1.4em;
    color: #222222;
    margin-bottom: 25px;
    font-weight: 700;
    }
    .text{
        font-size: 15px;
        line-height: 25px;
        color: #aaaaaa;
        font-family: $font-changa;
        font-weight: 300;
        max-width: 940px;
        margin: 0 auto 60px;   
    }
    .form{
        position: relative;
    max-width: 1000px;
    margin: 0 auto 20px;
    form{
      
    }
    .form-group{
        margin-bottom: 15px;
    .input-text{
       
        color: #aaaaaa;
        font-size: 14px;
        font-weight: 300;
        font-family:$font-changa;
        border-radius: 5px;
        border: 1px solid transparent;
        background-color: #edf7ff;    
        transition: all 0.3s ease;
        position: relative;
        display: block;
        width: 100%;
        line-height: 30px;
        padding: 14px 30px;
        height: 60px;
       &:focus{
            border: 1px solid #2fc42b !important;
            transition: all 0.3s ease;
            box-shadow: 0;
        }
    }
    }
    .form-group{
        line-height: 26px;
        display: block;
        width: 100%;
        .button-form{
            position: relative;
   
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    padding: 15px 65px;
    line-height: 24px;
    background: #2f3340;
    color: #ffffff;
    border: 2px solid #2f3340;
    font-size: 15px;
    font-weight: 700;
    &:hover{
        cursor: pointer;
        background-color: #2fc42b;
        border: none;
       
    }
        }
    }
  
    }
}


#california{
    position: relative;
    padding: 135px 0px 110px;
    background-color: #edf7ff;
    .california-title{
        margin-bottom: 60px;
        text-align: center !important;
        position: relative;
        .cal-text{
            position: relative;
            color: #222222;
            font-size: 35px;
            font-weight: 700;
            line-height: 33px;
            margin-bottom: 33px;
            font-family: $font-ubuntu;
            
        }
       span{
            color: #2fc42b;
            position: relative;
            font-size: 35px;
            font-weight: 700;
            line-height: 43px;
            margin-bottom: 16px !important;
            font-family: $font-ubuntu;
            
            
        }
    }
    .services-block{
        padding-left: 33px;
    padding-right: 33px;
    position: relative;
    margin-bottom: 40px;
    
    }
    .inner-box{
        position: relative;
        display: block;
        text-align: center;
        padding: 22px 30px;
        background-color: #ffffff;
        img{
            display: inline-block;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
        }
        .res{
            position: relative;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #333333 !important;
    margin-bottom: 20px;
    text-decoration: none !important;
    transition: all 0.3s ease;

            &:hover{
                color: #2fc42b !important;
            }
        }
        .read-more{
            background: transparent;    
            text-decoration: none !important;
            color: #888888;
     
            font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    &:hover{
        color: #2fc42b;
    }

            .fa{
                margin-left: 8px;
                &:hover{
                    color: #2fc42b;
                }
            
            }
        }
    }
}


#fact{
   position: relative;
    background-position: top center;
    background-size: cover;
    padding: 100px 0px 70px 0px;
    background-color: #3d4a66;
    background-repeat: repeat-x;
    background-image: url('../img/1.png');
        .facts{
            position: relative;
        .fact-rim{
            position: relative;
            z-index: 5;
            padding: 0 2px;
            margin-bottom: 30px;
            .inner{
               position: relative;
    text-align: center;
    background-color: #333743;
    padding: 80px 15px 70px;
    transition: all 0.5 ease;
                .count{
                    .pt1{
                        color: #f84685;
                        position: relative;
                
                        display: block;
                        font-size: 70px;
                        line-height: 1em;
                        margin-bottom: 20px;    
                    
                        
                        
                    }
                    .pt2{
                        color: #2fc42b;
                        position: relative;
                
                        display: block;
                        font-size: 70px;
                        line-height: 1em;
                        margin-bottom: 20px;    
                    }
                    .pt3{
                        color: #f1e651;
                        position: relative;
                
                        display: block;
                        font-size: 70px;
                        line-height: 1em;
                        margin-bottom: 20px;    
                    }   
                    .pt4{
                        color: orange;
                        position: relative;
                
                        display: block;
                        font-size: 70px;
                        line-height: 1em;
                        margin-bottom: 20px;    
                    }
                        
                    .count-title{
                        position: relative;
                        font-size: 20px;
                        font-weight: 500;
                        color: #edf7ff;
                        display: block;
                        margin-bottom: 5px;
                    }
                    .timer{
                        position: relative;
                        font-weight: 700;
                        color: #edf7ff;
                        font-size: 50px;
                        display: block;
                        line-height: 1em;
                    }
                }
            }
        }
    }

}


#business{
    position: relative;
    padding: 120px 0px 80px;

    .image-business{
        position: relative;
        padding: 0;
        .imager{
            position: relative;
            margin-bottom: 40px;
        }
    }
    .text-business{
        position: relative;
        padding-left: 75px;
    
     
        .inner-text{
            position: relative;
            .title-business{
                position: relative;
                margin-bottom: 20px;
           .leverage{
            position: relative;
            color: #222222;
            font-size: 35px;
            font-weight: 700;
            line-height: 43px;
            margin-bottom: 26px;
                .grow{
                    color: #2fc42b;
                }
            }
        }
       }
       .p-text{
        position: relative;
    color: #333333;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 30px;
    font-family: $font-changa;
       }
       .list-unstyled{
        position: relative;
           li{
               &::before{
                position: absolute;
                content: '\f0da';
                left: 0px;
                top: 0px;
                color: #2fc42b;
                font-size: 15px;
                font-family: "FontAwesome";
               }
            position: relative;
    padding-left: 15px;
    font-size: 15px;
    color: #aaaaaa;
    margin-bottom: 25px;
    font-weight: 300;
    font-family:$font-changa;
           }
       }
    }

}


